/* ===== Custom Styles ======================================================
   Author: Randy Vroegop - randyvroegop.nl
   ========================================================================== */

*{
    font-family: 'Lato', sans-serif;
}

body{
    background-color:#e0e0e0;
}

#header{
    height:140px;
    margin:40px 0;
    width:100%;
    position:relative;
}

#header a {
    text-decoration:none;
}

#header-behind{
    position:absolute;
    top:10px;
    width:100%;
    background-color:#555;
    height:80px;
}

#header-inside{
    position:absolute;
    top:-10px;
    height:100px;
    width:100%;
}

#header-content{
    max-width:900px;
    height:100px;
    margin:0 auto;
}

#header-left{
    display:inline-block;
    color:#ccc;
    margin-left:20px;
}

#header-left p{
    margin:10px 0 10px 0;
    padding:0;
    word-spacing: 24px;
}

#header-left h1{
    margin:0;
    padding:0;
}

#header-spotlight{
    background-color:#f54;
    -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px 1px rgba(0,0,0,0.8);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.8);
    height:100px;
    width:260px;
    color:#fff;
    float:right;
}

#header-spotlight img{
    display:inline-block;
    vertical-align:top;
    margin:10px 35px 0 5px;
}

#header-spotlight h1{
    display:inline-block;
}